{% extends 'workout/base.html' %}
{% load staticfiles %}

{% block title_block %}
Home
{% endblock %}

{% block body_block %}
<main class="page landing-page"><section class="clean-block clean-hero" style="background-image:url('{% static 'img/tech/image4.png' %}');color:rgba(128, 128, 128, 0.85);">
    <div class="text">
        <h2>Step outisde while at home. </h2>
        <p>Click below to generate a workout</p><button class="btn btn-outline-light btn-lg" type="button">Generate workout</button></div>
</section>
        <section class="clean-block clean-info dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">OUR GOAL</h2>
                    <p>During quarantine, it is imperative that one aims to maintain their physical health and fitness. Just because you're stuck at home does not mean you no longer should aim to stay fit. This site makes that process easier, in our 'workout'
                        tab, you can generate random workouts based on your criteria of what you want to workout, the nature of the workout and much more. You may also create an account for the added feature of logging PRs, weight and even more, with
                        graphical visualisations to make evaluation much easier.&nbsp;&nbsp;</p>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
