<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Pricing - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">WORKOUT WAD</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="features.html">home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="pricing.html">workout</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="about-us.html">login</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="contact-us.html">register</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page pricing-table-page">
        <section class="clean-block clean-pricing dark" style="height: 100px;">
            <div class="container">
                <h1>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;WORKOUT GENERATOR</h1>
            </div>
        </section>
    </main>
    <div class="login-dark" style="height: 950px;">
        <form method="post">
            <div class="form-group">
                <div class="dropdown"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Workout style&nbsp;</button>
                    <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">Strength</a><a class="dropdown-item" role="presentation" href="#">Hypertrophy</a><a class="dropdown-item" role="presentation" href="#">Endurance</a></div>
                </div>
            </div>
            <div class="dropdown"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Cardio</button>
                <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">Yes</a><a class="dropdown-item" role="presentation" href="#">No</a></div>
            </div>
            <div class="dropdown"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Length</button>
                <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">30 minutes</a><a class="dropdown-item" role="presentation" href="#">1 hour</a><a class="dropdown-item" role="presentation" href="#">1 - 2 hours</a></div>
            </div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Generate</button></div>
        </form>
    </div>
    <footer class="page-footer dark">
        <div class="footer-copyright">
            <p>© 2018 Copyright Text</p>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>